.DS_Store
*.b#*
*.s#*
processing/Wristband/data/
processing/Wristband/build-tmp/
processing/Wristband/application.*
processing/VisualizationTest/build-tmp/
processing/Kinemata/build-tmp/
processing/Kinemata/code/
processing/Kinemata/recordings/
*.mov
*.stl