.DS_Store
*.b#*
*.s#*
processing/Wristband/data/
processing/Wristband/build-tmp/
processing/Wristband/application.*
processing/VisualizationTest/build-tmp/
processing/Wristbandv2/build-tmp/
processing/Wristbandv2/code/
processing/Wristbandv2/data/
*.mov
*.stl